<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header class="d-flex justify-content-between align-items-center">
                <strong>Apps</strong>
                <a [routerLink]="['/admin/app-details','']" class="btn btn-xs btn-default card-header-button">Add</a>
            </c-card-header>
            <angular2-smart-table 
                    [settings]="settings" 
                    [source]="apps"
                    ></angular2-smart-table>
        </c-card>
    </c-col>
</c-row>